In [ ]:
# 모듈 로딩 -----------------
import pandas as pd

# 파일관련 변수 선언 -----------
DIR_PATH = '../Data/'
FILE_NAME = DIR_PATH + 'weather.csv'

FILE_NAME

'../Data/weather.csv'

In [ ]:
# (1) CSV File => DataFrame으로 로딩 -------
weatherDF = pd.read_csv(FILE_NAME)
weatherDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       22 non-null     object
 1   year     22 non-null     int64
 2   month    22 non-null     int64
 3   element  22 non-null     object
 4   d1       2 non-null      float64
 5   d2       4 non-null      float64
 6   d3       4 non-null      float64
 7   d4       2 non-null      float64
 8   d5       8 non-null      float64
 9   d6       2 non-null      float64
 10  d7       2 non-null      float64
 11  d8       2 non-null      float64
 12  d9       0 non-null      float64
 13  d10      2 non-null      float64
 14  d11      2 non-null      float64
 15  d12      0 non-null      float64
 16  d13      2 non-null      float64
 17  d14      4 non-null      float64
 18  d15      2 non-null      float64
 19  d16      2 non-null      float64
 20  d17      2 non-null      float64
 21  d18      0 non-null      float64
 22  d19      0 non-null      float64
 23  d20      0 non-null      float64
 24  d21      0 non-null      float64
 25  d22      0 non-null      float64
 26  d23      4 non-null      float64
 27  d24      0 non-null      float64
 28  d25      2 non-null      float64
 29  d26      2 non-null      float64
 30  d27      6 non-null      float64
 31  d28      2 non-null      float64
 32  d29      4 non-null      float64
 33  d30      2 non-null      float64
 34  d31      2 non-null      float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [ ]:
# 과제 0704 - (1) 2010년 1월 ~ 12월 최고온도 - 최저온도 데이터 추출
col = ['id', 'year', 'month', 'element']

for i in range(int(len(weatherDF.index)/2)):
    print(f'{weatherDF["month"][2*i]}월의 최대값: {weatherDF.iloc[2*i].dropna().drop(col).max()}')
    print(f'{weatherDF["month"][2*i]}월의 최소값: {weatherDF.iloc[2*i+1].dropna().drop(col).min()}')

1월의 최대값: 27.8
1월의 최소값: 14.5
2월의 최대값: 29.9
2월의 최소값: 10.7
3월의 최대값: 34.5
3월의 최소값: 14.2
4월의 최대값: 36.3
4월의 최소값: 16.7
5월의 최대값: 33.2
5월의 최소값: 18.2
6월의 최대값: 30.1
6월의 최소값: 17.5
7월의 최대값: 29.9
7월의 최소값: 16.5
8월의 최대값: 29.8
8월의 최소값: 15.0
10월의 최대값: 31.2
10월의 최소값: 10.5
11월의 최대값: 31.3
11월의 최소값: 7.9
12월의 최대값: 29.9
12월의 최소값: 10.5

In [ ]:
# 과제 0704 - (2) 서울에서 다른지역으로 이동한 년도별 인구수 / 데이터 추출 및 분석
import numpy as np


filename = DIR_PATH + '시도별 전출입 인구수.xlsx'
excelDF = pd.read_excel(filename)

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,NaN,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,NaN,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,NaN,대구광역시,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,NaN,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,NaN,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,NaN,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,NaN,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [ ]:
excelDF.index

RangeIndex(start=0, stop=325, step=1)

In [ ]:
excelDF.fillna(method = 'bfill', inplace = True)

In [ ]:
excelDF.replace('-', None)

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,서울특별시,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,서울특별시,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,서울특별시,대구광역시,None,None,None,None,None,None,None,None,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,NaN,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,NaN,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,NaN,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,NaN,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [ ]:
col = excelDF.columns[2:]
col

Index(['1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017'],
      dtype='object')

In [ ]:
excelDF2 = excelDF[excelDF['전출지별'] == '서울특별시']
excelDF2

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
2,서울특별시,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,서울특별시,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,서울특별시,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
5,서울특별시,인천광역시,-,-,-,-,-,-,-,-,...,565585,478169,462051,499567,468666,461613,452297,473223,441646,409465
6,서울특별시,광주광역시,-,-,-,-,-,-,-,-,...,268757,293879,268574,260561,228612,226696,243066,224603,213176,208138
7,서울특별시,대전광역시,-,-,-,-,-,-,-,-,...,263532,252424,262432,264244,239635,230858,239559,220774,219252,211449
8,서울특별시,울산광역시,-,-,-,-,-,-,-,-,...,181662,159953,161146,164963,161433,159492,176015,170393,148190,135199
9,서울특별시,세종특별자치시,-,-,-,-,-,-,-,-,...,-,-,-,-,32784,23805,56526,83994,65052,82073
10,서울특별시,경기도,452060,533375,418045,542224,579194,1006818,770036,880019,...,2195585,2175681,2168820,2062422,1944962,1895434,1891775,1993080,1958593,1888324
11,서울특별시,강원도,160959,183964,161637,241663,184385,326365,239946,246070,...,252193,249191,241738,236077,225896,217917,228369,227125,223484,211653
12,서울특별시,충청북도,100041,111901,99573,122988,125958,246251,164008,163716,...,244672,232872,235671,228594,212263,215973,215944,214626,202679,197177
13,서울특별시,충청남도,192979,205632,190175,239750,217167,482034,292314,341491,...,355294,329626,317853,321187,287195,281428,289627,289952,286764,288738
14,서울특별시,전라북도,136856,165843,153347,185754,173873,368163,236947,271557,...,322495,314137,305789,308011,271835,258198,274337,261832,248188,232047
15,서울특별시,전라남도,177536,243793,218180,301023,313318,572277,426056,460561,...,277906,281051,265600,261239,239026,244329,260278,250104,234132,227504
16,서울특별시,경상북도,407643,470732,519508,605014,585406,1241147,739579,855263,...,363297,367244,354575,363511,335362,329118,337041,344730,315652,311061
17,서울특별시,경상남도,212521,214358,196534,282238,358116,514805,386917,457139,...,487356,485349,481955,473757,414556,427658,462239,455384,411952,413179
18,서울특별시,제주특별자치도,14551,19064,19404,25845,29176,50939,36273,43287,...,80124,76575,77224,82708,79501,88851,92508,97580,106825,105027
19,서울특별시,전국,1448985,1419016,1210559,1647268,1819660,2937093,2495620,2678007,...,2083352,1925452,1848038,1834806,1658928,1620640,1661425,1726687,1655859,1571423

In [ ]:
excelDFA = excelDF2[excelDF2['전입지별'] == '전국']
excelDFA

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
19,서울특별시,전국,1448985,1419016,1210559,1647268,1819660,2937093,2495620,2678007,...,2083352,1925452,1848038,1834806,1658928,1620640,1661425,1726687,1655859,1571423

In [ ]:
excelDFB = excelDF2[excelDF2['전입지별'] == '서울특별시']
excelDFB

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
2,서울특별시,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937

In [ ]:
for i in col:
    print(f'{i}년 서울에서 다른 지역으로 이동한 인구수 : {excelDFA[i].iloc[0] - excelDFB[i].iloc[0]}명')

1970년 서울에서 다른 지역으로 이동한 인구수 : -293828명
1971년 서울에서 다른 지역으로 이동한 인구수 : -252689명
1972년 서울에서 다른 지역으로 이동한 인구수 : -138774명
1973년 서울에서 다른 지역으로 이동한 인구수 : -184590명
1974년 서울에서 다른 지역으로 이동한 인구수 : -230732명
1975년 서울에서 다른 지역으로 이동한 인구수 : -459569명
1976년 서울에서 다른 지역으로 이동한 인구수 : -260890명
1977년 서울에서 다른 지역으로 이동한 인구수 : -215396명
1978년 서울에서 다른 지역으로 이동한 인구수 : -278528명
1979년 서울에서 다른 지역으로 이동한 인구수 : -148425명
1980년 서울에서 다른 지역으로 이동한 인구수 : -164904명
1981년 서울에서 다른 지역으로 이동한 인구수 : -148382명
1982년 서울에서 다른 지역으로 이동한 인구수 : -131860명
1983년 서울에서 다른 지역으로 이동한 인구수 : -141831명
1984년 서울에서 다른 지역으로 이동한 인구수 : -132746명
1985년 서울에서 다른 지역으로 이동한 인구수 : -30364명
1986년 서울에서 다른 지역으로 이동한 인구수 : 5823명
1987년 서울에서 다른 지역으로 이동한 인구수 : -84399명
1988년 서울에서 다른 지역으로 이동한 인구수 : -188556명
1989년 서울에서 다른 지역으로 이동한 인구수 : -109644명
1990년 서울에서 다른 지역으로 이동한 인구수 : 90992명
1991년 서울에서 다른 지역으로 이동한 인구수 : 36879명
1992년 서울에서 다른 지역으로 이동한 인구수 : 104884명
1993년 서울에서 다른 지역으로 이동한 인구수 : 182632명
1994년 서울에서 다른 지역으로 이동한 인구수 : 236497명
1995년 서울에서 다른 지역으로 이동한 인구수 : 321898명
1996년 서울에서 다른 지역으로 이동한 인구수 : 211237명
1997년 서울에서 다른 지역으로 이동한 인구수 : 178319명
1998년 서울에서 다른 지역으로 이동한 인구수 : 134013명
1999년 서울에서 다른 지역으로 이동한 인구수 : 81122명
2000년 서울에서 다른 지역으로 이동한 인구수 : 46939명
2001년 서울에서 다른 지역으로 이동한 인구수 : 113949명
2002년 서울에서 다른 지역으로 이동한 인구수 : 106421명
2003년 서울에서 다른 지역으로 이동한 인구수 : 68968명
2004년 서울에서 다른 지역으로 이동한 인구수 : 47204명
2005년 서울에서 다른 지역으로 이동한 인구수 : 51007명
2006년 서울에서 다른 지역으로 이동한 인구수 : 36551명
2007년 서울에서 다른 지역으로 이동한 인구수 : 52883명
2008년 서울에서 다른 지역으로 이동한 인구수 : 57994명
2009년 서울에서 다른 지역으로 이동한 인구수 : 52264명
2010년 서울에서 다른 지역으로 이동한 인구수 : 115023명
2011년 서울에서 다른 지역으로 이동한 인구수 : 113058명
2012년 서울에서 다른 지역으로 이동한 인구수 : 103647명
2013년 서울에서 다른 지역으로 이동한 인구수 : 100550명
2014년 서울에서 다른 지역으로 이동한 인구수 : 87831명
2015년 서울에서 다른 지역으로 이동한 인구수 : 137256명
2016년 서울에서 다른 지역으로 이동한 인구수 : 140257명
2017년 서울에서 다른 지역으로 이동한 인구수 : 98486명