# 과제0704
- 2010년 1월~12월까지 최고온도-최저온도 데이터 추출

In [28]:
# 모듈 로딩
import pandas as pd

# 파일 관련 함수 선언
DIR_PATH='../DATA/'
FILE_NAME=DIR_PATH+'weather.csv'
FILE_NAME

'../DATA/weather.csv'

In [29]:
# (1) CSV FILE => DataFrame으로 로딩
weatherDF=pd.read_csv(FILE_NAME)
weatherDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 35 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       22 non-null     object
 1   year     22 non-null     int64
 2   month    22 non-null     int64
 3   element  22 non-null     object
 4   d1       2 non-null      float64
 5   d2       4 non-null      float64
 6   d3       4 non-null      float64
 7   d4       2 non-null      float64
 8   d5       8 non-null      float64
 9   d6       2 non-null      float64
 10  d7       2 non-null      float64
 11  d8       2 non-null      float64
 12  d9       0 non-null      float64
 13  d10      2 non-null      float64
 14  d11      2 non-null      float64
 15  d12      0 non-null      float64
 16  d13      2 non-null      float64
 17  d14      4 non-null      float64
 18  d15      2 non-null      float64
 19  d16      2 non-null      float64
 20  d17      2 non-null      float64
 21  d18      0 non-null      float64
 22  d19      0 non-null      float64
 23  d20      0 non-null      float64
 24  d21      0 non-null      float64
 25  d22      0 non-null      float64
 26  d23      4 non-null      float64
 27  d24      0 non-null      float64
 28  d25      2 non-null      float64
 29  d26      2 non-null      float64
 30  d27      6 non-null      float64
 31  d28      2 non-null      float64
 32  d29      4 non-null      float64
 33  d30      2 non-null      float64
 34  d31      2 non-null      float64
dtypes: float64(31), int64(2), object(2)
memory usage: 6.1+ KB

In [30]:
weatherDF

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# 편리한 계산을 위해 필요없는 컬럼을 모두 지울 예정이므로 미리 month 컬럼의 데이터를 저장해둔다. 
# ---> month 컬럼은 최종결과물에서 월 표시용도
month=weatherDF['month']

In [32]:
# weatherDF1 : 해당 달과 최댓값, 최소값만 구하면 되므로 필요없는 컬럼 삭제
weatherDF1=weatherDF.drop(['id','year','element','month'],axis=1)
weatherDF1

,d1,d2,d3,d4,d5,d6,d7,d8,d9,d10,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,NaN,34.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,NaN,16.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,NaN,NaN,28.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,29.6,NaN,NaN,29.0,NaN,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,NaN,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,NaN,NaN,NaN,NaN,27.0,NaN,28.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,NaN,31.3,NaN,27.2,26.3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,29.9,NaN,NaN,NaN,NaN,27.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
# weatherDF2 : .max() 과 .min() 은 컬럼을 기준으로 계산되므로 행열을 전환한다. (1달 단위 최댓값,최솟값)
weatherDF2=weatherDF1.transpose()
weatherDF2

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
d1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.9,13.8
d2,NaN,NaN,27.3,14.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.3,16.3,NaN,NaN
d3,NaN,NaN,24.1,14.4,NaN,NaN,NaN,NaN,NaN,NaN,...,28.6,17.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,27.2,12.0,NaN,NaN
d5,NaN,NaN,NaN,NaN,32.1,14.2,NaN,NaN,NaN,NaN,...,NaN,NaN,29.6,15.8,27.0,14.0,26.3,7.9,NaN,NaN
d6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,10.5
d7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.1,12.9,NaN,NaN,NaN,NaN
d8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.0,17.3,NaN,NaN,NaN,NaN,NaN,NaN
d9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d10,NaN,NaN,NaN,NaN,34.5,16.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d11,NaN,NaN,29.7,13.4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.8,16.5,NaN,NaN,NaN,NaN,NaN,NaN
d14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.9,16.5,NaN,NaN,29.5,13.0,NaN,NaN,NaN,NaN
d15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.7,10.5,NaN,NaN,NaN,NaN
d16,NaN,NaN,NaN,NaN,31.1,17.6,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d23,NaN,NaN,29.9,10.7,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,26.4,15.0,NaN,NaN,NaN,NaN,NaN,NaN
d24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,29.7,15.6,NaN,NaN,NaN,NaN,NaN,NaN
d26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,28.1,12.1,NaN,NaN
d27,NaN,NaN,NaN,NaN,NaN,NaN,36.3,16.7,33.2,18.2,...,NaN,NaN,NaN,NaN,NaN,NaN,27.7,14.2,NaN,NaN
d28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,31.2,15.0,NaN,NaN,NaN,NaN
d29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,28.0,15.3,NaN,NaN,NaN,NaN,NaN,NaN
d30,27.8,14.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,25.4,15.4,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# 짝수 열이 최댓값, 홀수 열이 최솟값 자료이므로 조건문 작성.
# weatherDF_month의 인덱스와 weatherDF2의 컬럼은 상응하므로 아래와 같이 작성.
print('[ 2010년 1월~12월까지 최고온도-최저온도 데이터 추출 ]')
print()
for i in weatherDF2.columns:
    if i % 2 ==0:
        print(f'{month[i]}월 최고 온도: {weatherDF2[i].max()}')
    else:       
        print(f'{month[i]}월 최저 온도: {weatherDF2[i].min()}')
        print('--------------------')

[ 2010년 1월~12월까지 최고온도-최저온도 데이터 추출 ]

1월 최고 온도: 27.8
1월 최저 온도: 14.5
--------------------
2월 최고 온도: 29.9
2월 최저 온도: 10.7
--------------------
3월 최고 온도: 34.5
3월 최저 온도: 14.2
--------------------
4월 최고 온도: 36.3
4월 최저 온도: 16.7
--------------------
5월 최고 온도: 33.2
5월 최저 온도: 18.2
--------------------
6월 최고 온도: 30.1
6월 최저 온도: 17.5
--------------------
7월 최고 온도: 29.9
7월 최저 온도: 16.5
--------------------
8월 최고 온도: 29.8
8월 최저 온도: 15.0
--------------------
10월 최고 온도: 31.2
10월 최저 온도: 10.5
--------------------
11월 최고 온도: 31.3
11월 최저 온도: 7.9
--------------------
12월 최고 온도: 29.9
12월 최저 온도: 10.5
--------------------

2. ‘시도별 전출입 인구수.xlsx’에서 서울에서 다른지역으로 이동한 년도별 인구수
데이터 추출 및 분석

In [35]:
popDF=pd.read_excel('../DATA/시도별 전출입 인구수.xlsx')
popDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 50 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   전출지별    19 non-null     object
 1   전입지별    325 non-null    object
 2   1970    325 non-null    object
 3   1971    325 non-null    object
 4   1972    325 non-null    object
 5   1973    325 non-null    object
 6   1974    325 non-null    object
 7   1975    325 non-null    object
 8   1976    325 non-null    object
 9   1977    325 non-null    object
 10  1978    325 non-null    object
 11  1979    325 non-null    object
 12  1980    325 non-null    object
 13  1981    325 non-null    object
 14  1982    325 non-null    object
 15  1983    325 non-null    object
 16  1984    325 non-null    object
 17  1985    325 non-null    object
 18  1986    325 non-null    object
 19  1987    325 non-null    object
 20  1988    325 non-null    object
 21  1989    325 non-null    object
 22  1990    325 non-null    object
 23  1991    325 non-null    object
 24  1992    325 non-null    object
 25  1993    325 non-null    object
 26  1994    325 non-null    object
 27  1995    325 non-null    object
 28  1996    325 non-null    object
 29  1997    325 non-null    object
 30  1998    325 non-null    object
 31  1999    325 non-null    object
 32  2000    325 non-null    object
 33  2001    325 non-null    object
 34  2002    325 non-null    object
 35  2003    325 non-null    object
 36  2004    325 non-null    object
 37  2005    325 non-null    object
 38  2006    325 non-null    object
 39  2007    325 non-null    object
 40  2008    325 non-null    object
 41  2009    325 non-null    object
 42  2010    325 non-null    object
 43  2011    325 non-null    object
 44  2012    325 non-null    object
 45  2013    325 non-null    object
 46  2014    325 non-null    object
 47  2015    325 non-null    object
 48  2016    325 non-null    object
 49  2017    325 non-null    object
dtypes: object(50)
memory usage: 127.1+ KB

In [36]:
popDF.shape

(325, 50)

In [37]:
popDF.isnull().sum()

전출지별    306
전입지별      0
1970      0
1971      0
1972      0
1973      0
1974      0
1975      0
1976      0
1977      0
1978      0
1979      0
1980      0
1981      0
1982      0
1983      0
1984      0
1985      0
1986      0
1987      0
1988      0
1989      0
1990      0
1991      0
1992      0
1993      0
1994      0
1995      0
1996      0
1997      0
1998      0
1999      0
2000      0
2001      0
2002      0
2003      0
2004      0
2005      0
2006      0
2007      0
2008      0
2009      0
2010      0
2011      0
2012      0
2013      0
2014      0
2015      0
2016      0
2017      0
dtype: int64

In [38]:
popDF

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,NaN,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,NaN,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,NaN,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,NaN,전라북도,139,202,141,210,219,415,392,408,...,668,579,672,561,551,516,609,683,733,768
321,NaN,전라남도,631,965,857,952,1133,2808,2608,2652,...,1143,1123,1002,1026,966,1001,928,1062,1127,1102
322,NaN,경상북도,374,619,468,576,625,1123,1141,1004,...,761,704,738,756,699,781,728,903,931,994
323,NaN,경상남도,474,479,440,571,1208,1517,863,1122,...,1517,1474,1324,1367,1227,1278,1223,1500,1448,1501
324,NaN,제주특별자치도,9290,12427,12210,16158,19580,34221,23291,31028,...,59564,55673,55507,59846,54280,60607,59673,59036,66444,63275

In [39]:
popDF.head(21)

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,전출지별,전입지별,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),...,이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명),이동자수 (명)
1,전국,전국,4046536,4210164,3687938,4860418,5297969,9011440,6773250,7397623,...,8808256,8487275,8226594,8127195,7506691,7411784,7629098,7755286,7378430,7154226
2,NaN,서울특별시,1742813,1671705,1349333,1831858,2050392,3396662,2756510,2893403,...,2025358,1873188,1733015,1721748,1555281,1520090,1573594,1589431,1515602,1472937
3,NaN,부산광역시,448577,389797,362202,482061,680984,805979,724664,785117,...,514502,519310,519334,508043,461042,478451,485710,507031,459015,439073
4,NaN,대구광역시,-,-,-,-,-,-,-,-,...,409938,398626,370817,370563,348642,351873,350213,351424,328228,321182
5,NaN,인천광역시,-,-,-,-,-,-,-,-,...,565585,478169,462051,499567,468666,461613,452297,473223,441646,409465
6,NaN,광주광역시,-,-,-,-,-,-,-,-,...,268757,293879,268574,260561,228612,226696,243066,224603,213176,208138
7,NaN,대전광역시,-,-,-,-,-,-,-,-,...,263532,252424,262432,264244,239635,230858,239559,220774,219252,211449
8,NaN,울산광역시,-,-,-,-,-,-,-,-,...,181662,159953,161146,164963,161433,159492,176015,170393,148190,135199
9,NaN,세종특별자치시,-,-,-,-,-,-,-,-,...,-,-,-,-,32784,23805,56526,83994,65052,82073
10,NaN,경기도,452060,533375,418045,542224,579194,1006818,770036,880019,...,2195585,2175681,2168820,2062422,1944962,1895434,1891775,1993080,1958593,1888324
11,NaN,강원도,160959,183964,161637,241663,184385,326365,239946,246070,...,252193,249191,241738,236077,225896,217917,228369,227125,223484,211653
12,NaN,충청북도,100041,111901,99573,122988,125958,246251,164008,163716,...,244672,232872,235671,228594,212263,215973,215944,214626,202679,197177
13,NaN,충청남도,192979,205632,190175,239750,217167,482034,292314,341491,...,355294,329626,317853,321187,287195,281428,289627,289952,286764,288738
14,NaN,전라북도,136856,165843,153347,185754,173873,368163,236947,271557,...,322495,314137,305789,308011,271835,258198,274337,261832,248188,232047
15,NaN,전라남도,177536,243793,218180,301023,313318,572277,426056,460561,...,277906,281051,265600,261239,239026,244329,260278,250104,234132,227504
16,NaN,경상북도,407643,470732,519508,605014,585406,1241147,739579,855263,...,363297,367244,354575,363511,335362,329118,337041,344730,315652,311061
17,NaN,경상남도,212521,214358,196534,282238,358116,514805,386917,457139,...,487356,485349,481955,473757,414556,427658,462239,455384,411952,413179
18,NaN,제주특별자치도,14551,19064,19404,25845,29176,50939,36273,43287,...,80124,76575,77224,82708,79501,88851,92508,97580,106825,105027
19,서울특별시,전국,1448985,1419016,1210559,1647268,1819660,2937093,2495620,2678007,...,2083352,1925452,1848038,1834806,1658928,1620640,1661425,1726687,1655859,1571423
20,NaN,서울특별시,1232619,1158556,985945,1345508,1511726,2401970,2041724,2212213,...,1426213,1286855,1199708,1215122,1069300,1053008,1098023,1129529,1061915,1018807

In [40]:
SeoulDF=popDF.iloc[19:37]
SeoulDF

,전출지별,전입지별,1970,1971,1972,1973,1974,1975,1976,1977,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
19,서울특별시,전국,1448985,1419016,1210559,1647268,1819660,2937093,2495620,2678007,...,2083352,1925452,1848038,1834806,1658928,1620640,1661425,1726687,1655859,1571423
20,NaN,서울특별시,1232619,1158556,985945,1345508,1511726,2401970,2041724,2212213,...,1426213,1286855,1199708,1215122,1069300,1053008,1098023,1129529,1061915,1018807
21,NaN,부산광역시,11568,11130,11768,16307,22220,27515,23732,27213,...,17353,17738,17418,18816,16135,16153,17320,17009,15062,14484
22,NaN,대구광역시,-,-,-,-,-,-,-,-,...,9720,10464,10277,10397,10135,10631,10062,10191,9623,8891
23,NaN,인천광역시,-,-,-,-,-,-,-,-,...,50493,45392,46082,51641,49640,47424,43212,44915,43745,40485
24,NaN,광주광역시,-,-,-,-,-,-,-,-,...,10846,11725,11095,10587,10154,9129,9759,9216,8354,7932
25,NaN,대전광역시,-,-,-,-,-,-,-,-,...,13515,13632,13819,13900,14080,13440,13403,13453,12619,11815
26,NaN,울산광역시,-,-,-,-,-,-,-,-,...,5057,4845,4742,5188,5691,5542,6047,5950,5102,4260
27,NaN,세종특별자치시,-,-,-,-,-,-,-,-,...,-,-,-,-,2998,2851,6481,7550,5943,5813
28,NaN,경기도,130149,150313,93333,143234,149045,253705,202276,207722,...,412408,398282,410735,373771,354135,340801,332785,359337,370760,342433
29,NaN,강원도,9352,12885,13561,16481,15479,27837,25927,25415,...,23668,23331,22736,23624,22332,20601,21173,22659,21590,21016
30,NaN,충청북도,6700,9457,10853,12617,11786,21073,18029,17478,...,15294,15295,15461,15318,14555,13783,14244,14379,14087,13302
31,NaN,충청남도,15954,18943,23406,27139,25509,51205,41447,43993,...,27458,24889,24522,24723,22269,21486,21473,22299,21741,21020
32,NaN,전라북도,10814,13192,16583,18642,16647,34411,29835,28444,...,18390,18332,17569,17755,16120,14909,14566,14835,13835,13179
33,NaN,전라남도,10513,16755,20157,22160,21314,46610,46251,43430,...,16601,17468,16429,15974,14765,14187,14591,14598,13065,12426
34,NaN,경상북도,11868,16459,22073,27531,26902,46177,40376,41155,...,15425,16569,16042,15818,15191,14420,14456,15113,14236,12464
35,NaN,경상남도,8409,10001,11263,15193,16771,23150,22400,27393,...,15438,15303,15689,16039,14474,14447,14799,15220,13717,12692
36,NaN,제주특별자치도,1039,1325,1617,2456,2261,3440,3623,3551,...,5473,5332,5714,6133,6954,7828,9031,10434,10465,10404

In [44]:
SeoulDF1=SeoulDF.drop(['전출지별'],axis=1)
SeoulDF1=SeoulDF1.set_index('전입지별').transpose()
SeoulDF1.drop(['전국','서울특별시'],axis=1)

전입지별,부산광역시,대구광역시,인천광역시,광주광역시,대전광역시,울산광역시,세종특별자치시,경기도,강원도,충청북도,충청남도,전라북도,전라남도,경상북도,경상남도,제주특별자치도
1970,11568,-,-,-,-,-,-,130149,9352,6700,15954,10814,10513,11868,8409,1039
1971,11130,-,-,-,-,-,-,150313,12885,9457,18943,13192,16755,16459,10001,1325
1972,11768,-,-,-,-,-,-,93333,13561,10853,23406,16583,20157,22073,11263,1617
1973,16307,-,-,-,-,-,-,143234,16481,12617,27139,18642,22160,27531,15193,2456
1974,22220,-,-,-,-,-,-,149045,15479,11786,25509,16647,21314,26902,16771,2261
1975,27515,-,-,-,-,-,-,253705,27837,21073,51205,34411,46610,46177,23150,3440
1976,23732,-,-,-,-,-,-,202276,25927,18029,41447,29835,46251,40376,22400,3623
1977,27213,-,-,-,-,-,-,207722,25415,17478,43993,28444,43430,41155,27393,3551
1978,29856,-,-,-,-,-,-,237684,26700,18420,48091,29676,44624,42940,28697,3937
1979,28542,-,-,-,-,-,-,278411,27599,20047,45388,31570,47934,43565,30183,4261
1980,29202,-,-,-,-,-,-,297539,32858,24548,54480,39396,56251,48839,29205,4828
1981,30238,14813,54879,-,-,-,-,252073,32116,23049,51369,39745,57645,30928,28795,5229
1982,30035,14702,45878,0,0,-,-,320174,31013,21256,48834,37169,55408,27440,28250,5276
1983,31141,16744,57958,0,0,-,-,400875,31308,24986,55344,39175,57737,29601,30485,6373
1984,28498,14033,66715,0,0,-,-,352238,30470,22416,50318,33460,52779,26842,27988,5671
1985,27318,13861,67890,0,0,-,-,390265,29911,23391,49520,34147,52629,26297,25792,5445
1986,26235,14210,58591,11478,0,-,-,412535,28489,22329,47888,33661,41082,26221,26002,5123
1987,26649,14515,58728,12324,0,-,-,405220,28699,21882,48678,34039,42667,27844,26970,5330
1988,25188,13470,68068,14134,0,-,-,415174,26691,20853,49038,36159,40695,26235,26801,5627
1989,22574,13666,73338,16784,16281,-,-,412933,26394,19753,31707,30538,36188,22374,24189,5894
1990,22005,12219,103533,16416,19028,-,-,473889,26591,21586,29993,32144,35589,21490,24216,6364
1991,20097,11641,80615,15345,19496,-,-,384714,25208,21021,28211,26421,29925,19054,21999,6319
1992,19344,11397,72097,14824,17689,-,-,428344,25215,20038,26600,26220,27258,19342,21546,5829
1993,18047,11573,67712,13419,20291,-,-,502584,23244,18695,25958,24661,25554,17604,19398,5014
1994,17411,11106,64485,13368,18790,-,-,542204,21384,17270,22293,21939,21737,16067,17887,4536
1995,17424,11352,62695,13758,18989,-,-,599411,24987,18710,26501,23837,24100,17064,19306,5256
1996,18460,11418,58631,13401,18310,0,-,520566,25221,18231,27159,23078,23790,16899,19061,5413
1997,17087,10648,60814,13518,16685,4545,-,495454,25178,17998,27395,22032,22773,15271,12855,5500
1998,16839,10383,53946,13351,19470,4413,-,407050,25840,16948,25928,24307,26176,16103,13340,6207
1999,17733,11031,54143,13429,17463,4563,-,471841,25741,17334,26726,25007,29161,16604,13690,6171
2000,15968,9986,52829,11579,16154,4105,-,435573,22832,14934,23083,22390,22969,14576,11741,5198
2001,16128,9363,52865,11266,15163,4266,-,499575,22941,14518,22056,29470,22457,14303,12100,5186
2002,16732,9077,55500,10947,14727,4085,-,516765,21582,13838,21155,17619,18179,13762,12290,5567
2003,16368,10094,44987,10525,15557,4456,-,457656,21696,13478,24942,28584,20432,13938,13827,5458
2004,15559,9121,41567,10268,14005,4252,-,400206,22071,14014,30246,18171,16529,13414,12973,5695
2005,15915,9447,46312,10447,14366,4227,-,414621,20483,13689,26012,17201,17049,14550,14076,5648
2006,17079,9792,47467,11481,14871,4656,-,449632,21969,15221,25986,18244,17329,15285,14510,5828
2007,17182,10275,51301,11624,14277,4801,-,431637,22177,15563,28898,19891,17717,15448,16015,5518
2008,17353,9720,50493,10846,13515,5057,-,412408,23668,15294,27458,18390,16601,15425,15438,5473
2009,17738,10464,45392,11725,13632,4845,-,398282,23331,15295,24889,18332,17468,16569,15303,5332
2010,17418,10277,46082,11095,13819,4742,-,410735,22736,15461,24522,17569,16429,16042,15689,5714
2011,18816,10397,51641,10587,13900,5188,-,373771,23624,15318,24723,17755,15974,15818,16039,6133
2012,16135,10135,49640,10154,14080,5691,2998,354135,22332,14555,22269,16120,14765,15191,14474,6954
2013,16153,10631,47424,9129,13440,5542,2851,340801,20601,13783,21486,14909,14187,14420,14447,7828
2014,17320,10062,43212,9759,13403,6047,6481,332785,21173,14244,21473,14566,14591,14456,14799,9031
2015,17009,10191,44915,9216,13453,5950,7550,359337,22659,14379,22299,14835,14598,15113,15220,10434
2016,15062,9623,43745,8354,12619,5102,5943,370760,21590,14087,21741,13835,13065,14236,13717,10465
2017,14484,8891,40485,7932,11815,4260,5813,342433,21016,13302,21020,13179,12426,12464,12692,10404